.footer {
    background: #1A1A1A;
    &-nav,
    &-social {
        padding: 100px 0 60px;
        li:not(:last-child) {
            padding-right: 30px;
        }
    }
    &-nav {
        font-size: 18px;
        line-height: 21px;
        text-transform: uppercase;
        a:hover {
            text-decoration: none;
            color: #00CC6A;
        }
    }
    &-social {
        img:hover {
            background-color: #00CC6A;
            border-radius: 50%;
        }
    }
}

.footer-inner {
    align-items: center;
    justify-content: space-around;
}

.footer-tertiary {
    text-align: center;
    margin-bottom: 60px;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    position: relative;
    &::before {
        content: "\00A9";
        font-size: 30px;
    }
}