.get {
    background-image: url(../img/get.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: auto;
    color: #000000;
}

.get-inner {
    h4 {
        color: #00CC6A;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        text-transform: uppercase;
        padding-top: 100px;
    }
    h3 {
        text-align: center;
        font-size: 50px;
        line-height: 59px;
        padding-top: 40px;
        padding-bottom: 60px;
    }
}

.get-content {
    padding-bottom: 50px;
    img {
        padding-bottom: 20px;
    }
    .get-image {
        padding-bottom: 35px;
    }
    &__item {
        text-align: center;
    }
    &__title {
        padding-bottom: 30px;
        font-weight: 500;
        font-size: 40px;
        line-height: 47px;
    }
    &__text {
        font-weight: 300;
        font-size: 27px;
        line-height: 38px;
        letter-spacing: 0.05em;
    }
}