@media (max-width: 576px) {}

@media (max-width: 768px) {
    .header-inner__info_form {
        input,
        button {
            width: 100%;
            margin-bottom: 15px;
        }
    }
    .get-content__item {
        margin-bottom: 15px;
    }
    .application {
        text-align: center;
    }
}

@media (max-width: 992px) {}

@media (min-width: 1200px) {}