@media (max-width: 576px) {}

@media (max-width: 768px) {
    .header-inner__info_form {
        input,
        button {
            width: 100%;
            margin-bottom: 15px;
        }
    }
    .get-content__item {
        margin-bottom: 15px;
    }
    .application {
        text-align: center;
    }
    .tariff-select {
        margin-bottom: 20px;
    }
    .tariff-select__btn {
        width: 70%;
        font-size: 25px;
        font-weight: 700;
    }
}

@media (max-width: 992px) {
    .tariff-select__price {
        font-size: 90px;
    }
    .tariff-select__btn {
        padding: 5px 25px;
        font-size: 20px;
    }
}

@media (min-width: 1200px) {}